li {
  display: inline-block;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  background-color: #111;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  color: #993300;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  text-decoration: none;
  border-bottom: 0;
}



li ul {
	position: absolute;
	left: 149px; /* Set 1px less than menu width */
	top: 0;
	display: none;
	}

.topnav{
    display: block;
    text-decoration: none;
    color: #993300;
    padding: 5px;
    border-bottom: 0;
}
  
  ul.dropdown-content {
    display: none;
    position:absolute;
    background-color: orange;
    /* min-width: 160px; */
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  ul.dropdown-content li{
    float: none;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .subnav{
    float: none;
    color: #993300;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 .subnav:hover {background-color: #FFCC66; }
  
 
  .dropdown:hover ul.dropdown-content {
    display: block;
  }




/* Emilie */

body{
  background-color: #171924;
  color: white;
}

.border_left_right{
  height: 100px;
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

.borders{
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

h1{
  color: #EDAA35;
  font-family: serif;
}

.maincontent{
  font-family: sans-serif;
}

.border_bottom{
  border-bottom: 1px dashed white;
}

.more_white{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#rightBox{
  border-top: solid orange;
  border-bottom: solid orange;
  border-left: solid orange;
  border-right: solid orange;
  background-color: #393939;
  padding: 6px;
}

/* fotter */
.footer_link {
  color: white;
  text-decoration: none;
}
.footer_link:hover{
  color: #FFCC33;
  text-decoration: underline;
}



@media screen and (max-width: 900px) {
  .border_left_right{
  width:20%;
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
  }
}