/* Emilie */
body{
  background-color: #171924;
  color: white;
}

.border_left_right{
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

.borders{
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}

h1{
  color: #EDAA35;
  font-family: serif;
}

.maincontent{
  font-family: sans-serif;
}

.border_bottom{
  border-bottom: 1px dashed white;
}

.more_white{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#rightBox{
  border-top: solid orange;
  border-bottom: solid orange;
  border-left: solid orange;
  border-right: solid orange;
  background-color: #393939;
  padding: 6px;
}
